.sub-header {
  height: 390px;
  width: 100%;
  position: relative;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sub-header::before {
  position: absolute;
  z-index: 10;
  content: '';
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--primary-color);
  /* background: linear-gradient(0deg, rgba(0, 56, 140, 0.15) 25%, rgba(0, 56, 140, 0.4) 80%, rgba(0, 56, 140, 0.5) 100%); */
  background: linear-gradient(0deg, rgba(0, 56, 140, 0.15) 0%, rgba(0, 56, 140, 0.5) 60%, rgba(0, 56, 140, 0.6) 100%);
  z-index: 1;
}

.sub-header__inner {
  padding-top: 170px;
  display: flex;
  align-items: center;
}

.sub-header__title {
  font-family: 'GilroyBold', sans-serif;
  position: relative;
  text-align: left;
  font-size: 40px;
  color: #fff;
  z-index: 2;
  max-width: 65%;
}

.sub-header__logo-box {
  margin: 0 35px;
  position: relative;
  z-index: 1;
  max-width: 160px;
}

.sub-header__logo {
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.sub-header__logo:hover {
  transform: scale(1.1);
}

/* video */

.sub-header__video {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sub-header__video video {
  object-fit: cover;
  position: absolute;
  left: 0;
  height: 100%;
  aspect-ratio: 16 / 9;
  min-width: 100%;
  background: transparent url('../../../public/assets/images/header/header-video-poster.jpg') 50% 50% / cover no-repeat;
}
