.page-title {
  margin-bottom: 40px;
}

.full-width-img {
  margin-bottom: 40px;
}

.full-width-img img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* page-conent */
.page-conent {
  width: 100%;
  font-family: 'GilroyRegular', sans-serif;
  border-collapse: collapse;
  font-size: 20px;
  margin-bottom: 20px;
}

.page-conent h1,
.page-conent h1 strong,
.page-conent h2,
.page-conent h2 strong,
.page-conent h3,
.page-conent h3 strong,
.page-conent h4,
.page-conent h4 strong,
.page-conent h5,
.page-conent h5 strong,
.page-conent h6,
.page-conent h6 strong {
  font-family: 'GilroyBold', sans-serif !important;
  color: var(--primary-color) !important;
  margin-bottom: 10px;
}

.page-conent h1 {
  font-size: 40px;
}
.page-conent h2 {
  font-size: 36px;
}
.page-conent h3 {
  font-size: 32px;
}
.page-conent h4 {
  font-size: 28px;
}
.page-conent h5 {
  font-size: 24px;
}
.page-conent h6 {
  font-size: 20px;
}

.page-conent > p {
  margin-bottom: 20px;
}

.page-conent li {
  margin-bottom: 5px;
}

.page-conent hr {
  margin: 25px 0 20px;
}

.page-conent table {
  width: 100%;
}

.page-conent th,
.page-conent tr:first-of-type {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.page-conent td,
.page-conent th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
  // width: 25%;
}

.page-conent td li,
.page-conent li,
.page-conent p li {
  margin-left: 20px;
}

.page-conent td ul li {
  padding-left: 0px;
  list-style: disc;
}

.page-conent td a,
.page-conent ul li a,
.page-conent a {
  color: var(--primary-color);
}
.page-conent td a:hover,
.page-conent ul li a:hover {
  text-decoration: underline;
}

.page-conent tr:nth-child(odd) {
  background-color: var(--gray-color);
}

.page-conent img {
  width: 100%;
  height: auto;
}

.page-conent td img {
  max-width: 40%;
}

/* // table */

/* smk */

.cmk-teachers-title {
  font-size: 24px;
  font-family: 'GilroyBold', sans-serif;
  background-color: var(--gray-color);
  color: var(--primary-color);
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.teacher-wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid #939393;
  margin-bottom: 20px;
}

.teacher-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.teacher-photo {
  margin-right: 10px;
}
.teacher-photo img {
  object-fit: cover;
  width: 90px;
  height: 130px;
}
.teacher-name {
  font-family: 'GilroyBold', sans-serif;
  font-size: 24px;
}
.teacher-lessons {
  list-style: none;
}
.teacher-lesson {
  margin-bottom: 5px;
}

.cmk-teacher-pagination {
  text-align: center;
}
.cmk-teacher-page {
  width: 35px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  color: var(--primary-color);
  background-color: var(--gray-color);
  border: 1px solid var(--primary-color);
}
.cmk-teacher-page.active-page {
  background-color: var(--primary-color);
  color: #fff;
}
.cmk-teacher-page + .cmk-teacher-page {
  margin-left: 5px;
}
/* // smk */

.page-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.section-name {
  font-size: 24px;
  font-family: 'GilroyBold', sans-serif;
  background-color: var(--gray-color);
  color: var(--primary-color);
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.partners-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partner-item {
  margin: 25px;
}

.partner-item img {
  max-height: 80px;
  transition: transform 0.3s ease-in;
}

.partner-item img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
